In [1]:
import statsmodels.api as sm
import numpy as np
import pandas as pd

# POISSON REGRESSION

In [4]:
#import sample data from Poisson_shipdamage csv
df=pd.read_csv(r'C:\Users\ayesha.amjad\Desktop\Analytics for Centerprise\Sample Data\GLM Datasets\Poisson_shipdamage.csv')
display(df.head(5))

  type construction operation  months  damage
0    A      1960-64   1960-74     127       0
1    A      1960-64   1975-79      63       0
2    A      1965-69   1960-74    1095       3
3    A      1965-69   1975-79    1095       4
4    A      1970-74   1960-74    1512       6

In [5]:
#define damage as the target variable
target="damage"

In [6]:
#set the dataframes for X and y 
X=df.drop(columns=[target])
y=df[target]

In [8]:
y

0      0
1      0
2      3
3      4
4      6
5     18
6     11
7     39
8     29
9     58
10    53
11    12
12    44
13    18
14     1
15     1
16     0
17     1
18     6
19     2
20     1
21     0
22     0
23     0
24     0
25     2
26    11
27     4
28     0
29     7
30     7
31     5
32    12
33     1
Name: damage, dtype: int64

In [27]:
#apply one-hot encodings on X
X_onehot=pd.get_dummies(X)
X_onehot

,months,type_A,type_B,type_C,type_D,type_E,construction_1960-64,construction_1965-69,construction_1970-74,construction_1975-79,operation_1960-74,operation_1975-79
0,127,1,0,0,0,0,1,0,0,0,1,0
1,63,1,0,0,0,0,1,0,0,0,0,1
2,1095,1,0,0,0,0,0,1,0,0,1,0
3,1095,1,0,0,0,0,0,1,0,0,0,1
4,1512,1,0,0,0,0,0,0,1,0,1,0
5,3353,1,0,0,0,0,0,0,1,0,0,1
6,2244,1,0,0,0,0,0,0,0,1,0,1
7,44882,0,1,0,0,0,1,0,0,0,1,0
8,17176,0,1,0,0,0,1,0,0,0,0,1
9,28609,0,1,0,0,0,0,1,0,0,1,0
10,20370,0,1,0,0,0,0,1,0,0,0,1
11,7064,0,1,0,0,0,0,0,1,0,1,0
12,13099,0,1,0,0,0,0,0,1,0,0,1
13,7117,0,1,0,0,0,0,0,0,1,0,1
14,1179,0,0,1,0,0,1,0,0,0,1,0
15,552,0,0,1,0,0,1,0,0,0,0,1
16,781,0,0,1,0,0,0,1,0,0,1,0
17,676,0,0,1,0,0,0,1,0,0,0,1
18,783,0,0,1,0,0,0,0,1,0,1,0
19,1948,0,0,1,0,0,0,0,1,0,0,1
20,274,0,0,1,0,0,0,0,0,1,0,1
21,251,0,0,0,1,0,1,0,0,0,1,0
22,105,0,0,0,1,0,1,0,0,0,0,1
23,288,0,0,0,1,0,0,1,0,0,1,0
24,192,0,0,0,1,0,0,1,0,0,0,1
25,349,0,0,0,1,0,0,0,1,0,1,0
26,1208,0,0,0,1,0,0,0,1,0,0,1
27,2051,0,0,0,1,0,0,0,0,1,0,1
28,45,0,0,0,0,1,1,0,0,0,1,0
29,789,0,0,0,0,1,0,1,0,0,1,0
30,437,0,0,0,0,1,0,1,0,0,0,1
31,1157,0,0,0,0,1,0,0,1,0,1,0
32,2161,0,0,0,0,1,0,0,1,0,0,1
33,542,0,0,0,0,1,0,0,0,1,0,1

In [28]:
# Fit a GLM with a Poisson family distribution
glm_model = sm.GLM(y, sm.add_constant(X_onehot), family=sm.families.Poisson())
glm_results = glm_model.fit()
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 damage   No. Observations:                   34
Model:                            GLM   Df Residuals:                       24
Model Family:                 Poisson   Df Model:                            9
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -84.182
Date:                Thu, 23 Feb 2023   Deviance:                       70.498
Time:                        18:42:03   Pearson chi2:                     65.8
No. Iterations:                     6   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.5657      0.064      8.891      0.000       0.441       0.690
months                6.697e-05   8.52e-06      7.857      0.000    5.03e-05    8.37e-05
type_A                   0.4132      0.148      2.784      0.005       0.122       0.704
type_B                   1.0832      0.156      6.952      0.000       0.778       1.389
type_C                  -0.7784      0.246     -3.162      0.002      -1.261      -0.296
type_D                  -0.4162      0.212     -1.964      0.050      -0.832      -0.001
type_E                   0.2639      0.164      1.607      0.108      -0.058       0.586
construction_1960-64    -0.7190      0.161     -4.479      0.000      -1.034      -0.404
construction_1965-69     0.3683      0.088      4.203      0.000       0.197       0.540
construction_1970-74     0.7809      0.098      7.958      0.000       0.589       0.973
construction_1975-79     0.1355      0.152      0.892      0.372      -0.162       0.433
operation_1960-74       -0.0813      0.087     -0.938      0.348      -0.251       0.089
operation_1975-79        0.6471      0.061     10.620      0.000       0.528       0.766
========================================================================================

Remove Statistically Redundant Variables/Features

In [29]:
X_onehot=X_onehot.drop(columns=['type_E','construction_1975-79','operation_1960-74'])

In [30]:
glm_model = sm.GLM(y, sm.add_constant(X_onehot), family=sm.families.Poisson())
glm_results = glm_model.fit()
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 damage   No. Observations:                   34
Model:                            GLM   Df Residuals:                       24
Model Family:                 Poisson   Df Model:                            9
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -84.182
Date:                Thu, 23 Feb 2023   Deviance:                       70.498
Time:                        18:43:06   Pearson chi2:                     65.8
No. Iterations:                     6   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.8837      0.264      3.353      0.001       0.367       1.400
months                6.697e-05   8.52e-06      7.857      0.000    5.03e-05    8.37e-05
type_A                   0.1493      0.235      0.636      0.525      -0.311       0.610
type_B                   0.8194      0.235      3.481      0.000       0.358       1.281
type_C                  -1.0422      0.339     -3.076      0.002      -1.706      -0.378
type_D                  -0.6801      0.300     -2.263      0.024      -1.269      -0.091
construction_1960-64    -0.8545      0.276     -3.097      0.002      -1.395      -0.314
construction_1965-69     0.2328      0.208      1.120      0.263      -0.175       0.640
construction_1970-74     0.6454      0.195      3.305      0.001       0.263       1.028
operation_1975-79        0.7284      0.136      5.369      0.000       0.462       0.994
========================================================================================

Continue to Remove Statistically Redundant Variables/Feature

In [31]:
X_onehot=X_onehot.drop(columns=['type_A','construction_1965-69'])

In [32]:
glm_model = sm.GLM(y, sm.add_constant(X_onehot), family=sm.families.Poisson())
glm_results = glm_model.fit()
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 damage   No. Observations:                   34
Model:                            GLM   Df Residuals:                       26
Model Family:                 Poisson   Df Model:                            7
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -85.030
Date:                Thu, 23 Feb 2023   Deviance:                       72.194
Time:                        18:45:22   Pearson chi2:                     68.4
No. Iterations:                     6   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    1.1245      0.176      6.380      0.000       0.779       1.470
months                6.999e-05   8.16e-06      8.572      0.000     5.4e-05     8.6e-05
type_B                   0.7096      0.190      3.734      0.000       0.337       1.082
type_C                  -1.1180      0.311     -3.590      0.000      -1.728      -0.508
type_D                  -0.7596      0.269     -2.821      0.005      -1.287      -0.232
construction_1960-64    -1.0878      0.183     -5.934      0.000      -1.447      -0.729
construction_1970-74     0.4857      0.128      3.782      0.000       0.234       0.737
operation_1975-79        0.7187      0.137      5.260      0.000       0.451       0.986
========================================================================================

Fit the model with label encoding instead of one-hot encoding

In [44]:
import sklearn as sk
from sklearn import preprocessing

In [47]:
label_encoder=preprocessing.LabelEncoder()
df['type'] = label_encoder.fit_transform(df['type'])
df['construction'] = label_encoder.fit_transform(df['construction'])
df['operation'] = label_encoder.fit_transform(df['operation'])

In [48]:
df

    type  construction  operation  months  damage
0      0             0          0     127       0
1      0             0          1      63       0
2      0             1          0    1095       3
3      0             1          1    1095       4
4      0             2          0    1512       6
5      0             2          1    3353      18
6      0             3          1    2244      11
7      1             0          0   44882      39
8      1             0          1   17176      29
9      1             1          0   28609      58
10     1             1          1   20370      53
11     1             2          0    7064      12
12     1             2          1   13099      44
13     1             3          1    7117      18
14     2             0          0    1179       1
15     2             0          1     552       1
16     2             1          0     781       0
17     2             1          1     676       1
18     2             2          0     783       6
19     2             2          1    1948       2
20     2             3          1     274       1
21     3             0          0     251       0
22     3             0          1     105       0
23     3             1          0     288       0
24     3             1          1     192       0
25     3             2          0     349       2
26     3             2          1    1208      11
27     3             3          1    2051       4
28     4             0          0      45       0
29     4             1          0     789       7
30     4             1          1     437       7
31     4             2          0    1157       5
32     4             2          1    2161      12
33     4             3          1     542       1

In [49]:
target='damage'

In [50]:
X=df.drop(columns=[target])
y=df[target]

In [51]:
glm_model = sm.GLM(y, sm.add_constant(X), family=sm.families.Poisson())
glm_results = glm_model.fit()
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 damage   No. Observations:                   34
Model:                            GLM   Df Residuals:                       29
Model Family:                 Poisson   Df Model:                            4
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -145.62
Date:                Thu, 23 Feb 2023   Deviance:                       193.38
Time:                        19:06:35   Pearson chi2:                     180.
No. Iterations:                     6   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.7416      0.220      3.376      0.001       0.311       1.172
type            -0.2033      0.054     -3.770      0.000      -0.309      -0.098
construction     0.3959      0.067      5.892      0.000       0.264       0.528
operation        0.8541      0.149      5.749      0.000       0.563       1.145
months        8.439e-05   5.11e-06     16.509      0.000    7.44e-05    9.44e-05
================================================================================

# BINOMIAL - LOGIT

In [34]:
#import sample data from Binomial_insurance csv
df2=pd.read_csv(r'C:\Users\ayesha.amjad\Desktop\Analytics for Centerprise\Sample Data\GLM Datasets\Binomial_insurance.csv')
display(df2.head(5))

   ins  retire  age  hstatusg  hhincome  educyear  married  hisp
0    0       0   62         0       0.0        12        0     0
1    0       0   59         0       0.0        12        0     0
2    0       1   60         1       0.0        13        0     0
3    0       0   62         0       0.0        10        0     0
4    0       0   54         0       0.0         9        0     0

In [35]:
target2='ins'

In [38]:
X2=df2.drop(columns=[target2])
y2=df2[target2]

In [41]:
# Create an instance of the Logit class for the link function
logit_link = sm.genmod.families.links.Logit()

In [42]:
# Fit the GLM with a binomial family distribution and logit link function (without intercept)
glm_binom_logit = sm.GLM(y2, X2, family=sm.families.Binomial(link=logit_link))
glm_results = glm_binom_logit.fit()
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                    ins   No. Observations:                 3206
Model:                            GLM   Df Residuals:                     3199
Model Family:                Binomial   Df Model:                            6
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1997.5
Date:                Thu, 23 Feb 2023   Deviance:                       3995.0
Time:                        18:56:28   Pearson chi2:                 3.18e+03
No. Iterations:                     5   Pseudo R-squ. (CS):            0.08493
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
retire         0.2441      0.082      2.990      0.003       0.084       0.404
age           -0.0397      0.003    -14.091      0.000      -0.045      -0.034
hstatusg       0.3414      0.091      3.762      0.000       0.164       0.519
hhincome       0.0024      0.001      3.181      0.001       0.001       0.004
educyear       0.1071      0.014      7.738      0.000       0.080       0.134
married        0.5812      0.093      6.244      0.000       0.399       0.764
hisp          -0.8289      0.196     -4.238      0.000      -1.212      -0.446
==============================================================================

In [43]:
# Fit the GLM with a binomial family distribution and logit link function (with intercept)
glm_binom_logit = sm.GLM(y2, sm.add_constant(X2), family=sm.families.Binomial(link=logit_link))
glm_results = glm_binom_logit.fit()
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                    ins   No. Observations:                 3206
Model:                            GLM   Df Residuals:                     3198
Model Family:                Binomial   Df Model:                            7
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1994.9
Date:                Thu, 23 Feb 2023   Deviance:                       3989.8
Time:                        19:00:20   Pearson chi2:                 3.17e+03
No. Iterations:                     5   Pseudo R-squ. (CS):            0.08642
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7156      0.749     -2.292      0.022      -3.183      -0.248
retire         0.1969      0.084      2.339      0.019       0.032       0.362
age           -0.0146      0.011     -1.293      0.196      -0.037       0.008
hstatusg       0.3123      0.092      3.406      0.001       0.133       0.492
hhincome       0.0023      0.001      3.023      0.003       0.001       0.004
educyear       0.1143      0.014      8.046      0.000       0.086       0.142
married        0.5786      0.093      6.201      0.000       0.396       0.762
hisp          -0.8103      0.196     -4.139      0.000      -1.194      -0.427
==============================================================================